@font-face {
	font-family: WoW2;
	src: url(WoW-plexus.ttf);
}

@font-face {
	font-family: "Comic Sans MS";
	src: url("ComicSansMS.ttf");
}

a {
	text-decoration: none;
}

body {
	/*display: flex;*/
	/*justify-content: center;*/
	/*flex-direction: column;*/
	background-image: url("background.gif");
	/*max-width: 1320px;*/
	margin: 0;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.page__header {
	display: flex;
	/*!*width: 1230px;*!*/
	/*justify-content: center;*/
}

.header {
	display: flex;
	justify-content: center;
	width: 1230px;
	/*max-width: 100%;*/
	margin: 0 auto;
	/*padding-bottom: 20px;*/
}

.header__login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30%;
}

.header__title {

	text-align: center;
	font-family: WoW2, cursive;
	color: #c25e28;
	line-height: 70px;
}

.header__spacer {
	width: 30%;
}

/*#topMenu {*/
/*	display: flex;*/
/*	justify-content: center;*/
/*}*/

/*#topTitleDiv {*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*}*/

/*.topTitle {*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	font-family: WoW2, cursive;*/
/*	color: #C25E28;*/
/*	padding-right: 350px;*/
/*}*/

#topTitleCollection{
	font-family: "Comic Sans MS", cursive;
	color: #C25E28;
}

#loginDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*width: 400px;*/
	text-align: center;
	font-family: "Comic Sans MS", cursive;
	line-height: 35px;
	color: #416678;
}

/*#loginInfo {*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	font-family: "Comic Sans MS", cursive;*/
/*	color: #416678;*/
/*	margin-bottom: 0;*/
/*}*/

/*#loginInfo2 {*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	font-family: "Comic Sans MS", cursive;*/
/*	color: #416678;*/
/*	margin-top: 0;*/
/*}*/

#loginButtonDiv {
	display: flex;
	justify-content: center;
}

#loginReference {
	display: flex;
	justify-content: center;
	border-radius: 10px;
	border-width: 0;
	font-family: WoW2, cursive;
	font-size: 25px;
	outline: none;
	transition: .3s;
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
	height: 50px;
	width: 150px;
	color: #D89B41;
	background-color: #416678;
	cursor: pointer;
}

#loginReference:hover {
	background-color: #D89B41;
	color: #416678;
	/*transform: translateY(-7px);*/
	/*box-shadow: 0 15px 20px rgba(128,153,165,.9);*/
}

#logoutDiv {
	display: flex;
	justify-content: center;
}

#logoutButton {
	display: flex;
	justify-content: center;
	font-family: "Comic Sans MS", cursive;
	font-size: 20px;
	font-weight: bold;
	width: 100px;
	height: 35px;
	border-radius: 10px;
	border-width: 0;
	outline: none;
	background-color: #436677;
	color: #D89B41;
	cursor: pointer;
}

#logoutButton:hover {
	background-color: #D89B41;
	color: #436677;
}

#loginHello {
	display: flex;
	justify-content: center;
	color: #416678;
	font-family: "Comic Sans MS", cursive;
	margin-bottom: 0;
}

.page__content {
	flex-grow: 1;
	width: 1230px;
	margin: 0 auto;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainMenu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

#mainMenuList {
	display: flex;
	justify-content: center;
	list-style: none;
	white-space: nowrap;
}

#mainMenuList li {
	display : flex;
	justify-content: center;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	padding: 5px;
	font-family: WoW2, cursive;
	font-size: 30px;
	color: #416678;
	border-radius: 5px;
	/*border: solid #416678;*/
}

#myCollection {

	vertical-align: center;
}

#mainMenuList li a {
	color: #416678;
}

#mainMenuList li a:visited {
	color: #416678;
}

#mainMenuList li:hover {
	background-color: #416678;
}

#mainMenuList li:hover a{
	color: #D89B41;
}

.mainMenuParagraph {
	margin-bottom: 1px;
}

#later {
	font-family: "Comic Sans MS", cursive;
}

#myCollectionReference {
	/*padding-top: 35px;*/
}

#containerDatabase {
	display: flex;
	/*justify-content: center;*/
}

#leftMenuDatabase {
	display: flex;
	align-self: flex-start;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	align-items: center;
}

#leftMenuTitleDatabase {
	display: flex;
	justify-content: center;
	color: #416678;
	font-family: WoW2, cursive;
}

#filtersDiv {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.selectFilter {
	display: flex;
	width: 150px;
	/*background-image: url("background.gif");*/
	font-family: "Comic Sans MS", cursive;
	background-color: #436677;
	color: #D89B41;
	border-radius: 5px;
	outline: none;
	margin-bottom: 10px;
}

.optionFilter {
	border-radius: 5px;
}

#Druid {
	color: #ff7c0a;
}

#Hunter {
	color: #aad372;
}

#Mage {
	color: 	#68ccef;
}

#Paladin {
	color: #f48cba;
}

#Priest {
	color: #f0ebe0;
}

#Rogue {
	color: #fff468;
}

#Shaman {
	color: #2993FB;
}

#Warlock {
	color: #9382c9;
}

#Warrior {
	color: #c69b6d;
}

#Common {
	color: #DBD3D3;
}

#Uncommon {
	color: #55AA65;
}

#Rare {
	color: #2993FB;
}

#Epic {
	color: #B263B0;
}

#Horde {
	color: #FD1A0C;
}

#Alliance {
	color: #2993FB;
}

#filterButton {
	display: flex;
	justify-content: center;
	font-family: "Comic Sans MS", cursive;
	width: 50px;
	height: 25px;
	border-radius: 10px;
	border-width: 0;
	outline: none;
	background-color: #436677;
	color: #D89B41;
	cursor: pointer;
}

#filterButton:hover {
	background-color: #D89B41;
	color: #436677;
}

#resultTable {
	/*width: 1050px;*/
	justify-content: center;
	/*max-width: 100%;*/
	/*width: 100%;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: solid #416678;
	background-image: url("background2.png");
	margin-left: 10px;
	margin-right: 5px;
}

#resultTableStart {
	display: flex;
	/*width: 1050px;*/
	justify-content: center;
	flex-direction: column;
	align-self: center;
}

#startText1 {
	display: flex;
	justify-content: center;
	font-family: WoW2, cursive;
	color: #416678;
	margin-bottom: 50px;
}

#startText2 {
	display: flex;
	justify-content: center;
	font-family: WoW2, cursive;
	color: #416678;
}

#notFoundDiv {
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*width: 1050px;*/
}

.notFoundText {
	display: flex;
	justify-content: center;
	font-family: "Comic Sans MS", cursive;
	font-size: 30px;
	color: #416678;
	margin-bottom: 30px;
}

#notFoundTextCollection {
	display: flex;
	font-family: "Comic Sans MS", cursive;
	text-align: center;
	font-size: 30px;
	color: #416678;
}

.createdOverallDiv {
	display: flex;
	margin: 10px;
	width: 500px;
	height: 320px;
}

.createdParameters {
	font-size: 17px;
	margin-left: 10px;
	color: #416678;
}

.createdButtonAddDiv {
	/*margin-top: -15px;*/
}

.resultButton {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	border-radius: 5px;
	border-width: 0;
	background-color: #416678;
	color: #D89B41;
	font-family: "Comic Sans MS", cursive;
	outline: none;
	transition: 0.3s;
	cursor: pointer;
}

.resultButton:hover {
	background-color: #D89B41;
	color: #416678;
}

.createdButtonDeleteDiv {
	margin-top: -15px;
}

.parametersName {
	font-weight: bold;
	color: #6E4277;
	font-family: "Comic Sans MS", cursive;
}

.parametersValue {
	font-weight: bold;
	color: #416678;
	font-family: "Comic Sans MS", cursive;
}

.back_to_top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9999;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 45px;
	background-image: url("background2.png");
	color: #416678;
	cursor: pointer;
	border-radius: 15px;
	display: none;
	filter: brightness(90%);
	border: solid #416678;
}

.back_to_top:hover {
	color: #D89B41;
}

.back_to_top-show {
	display: block;
}

.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	text-align: center;
	left: 20px;
	bottom: 40px;
	width: 180px;
	height: 100px;
	background-image: url("background2.png");
	border-radius: 10px;
	color: #416678;
	font-family: "Comic Sans MS", cursive;
	/*transition: 0.3s;*/
	filter: brightness(90%);
	border: solid #416678;
}
#success-message {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*background: rgba(0, 0, 0, 0.56);*/
	z-index: 999!important;
	/*background: rgba(40, 69, 113, 0.4);*/
}
#success-message {
	display: none;
}

.page__footer {
	display: flex;
	justify-content: center;
	margin: 20px auto 0;
}

.footer {
	/*display: flex;*/
	/*justify-content: right;*/
	width: 1230px;
	line-height: 50px;
	text-align: center;
	font-family: "Comic Sans MS", cursive;
	color: #416678;
	height: 50px;
	background-image: url("background2.png");
	/*filter: brightness(75%);*/
	/*margin-top: 120px;*/
	margin: 0 auto;
	margin: 0 auto;
}






