@font-face {
	
	font-family: WoW2;
	src: url(WoW-plexus.ttf);
}

@font-face {
	font-family: WoW;
	src: url(Font.ttf);
}
	
body {
	display: flex;
	justify-content: center;
	flex-direction: column;

	/* background-color : #231A13; */
	/*background-color : #ffffff;*/
	/*background-color : #416678;*/
	background-image: url("background.gif");

}

a {
	text-decoration: none;
}

#topMenu {
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
}

#topTitle {
	display: flex;
	font-family: WoW2;
	color: #C25E28;
	margin-left: 20px;
}

#topTitleCollection{
	font-family: WoW2;
	color: #C25E28;
}

#loginReference {
	border-radius: 10px;
	border-width: 0px;
	font-family: WoW2;
	font-size: 25px;
	outline: none;
	transition: .3s;
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
	height: 50px;
	width: 150px;
	margin-left: 130px;
	/*top: 30px;*/
	/*left: 450px;*/
	color: #D89B41;
	background-color: #416678;
	cursor: pointer;
}

#loginReference:hover {
	background-color: #D89B41;
	color: #416678;
	/*transform: translateY(-7px);*/
	/*box-shadow: 0 15px 20px rgba(128,153,165,.9);*/
}

#loginDiv {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin-top: 20px;
	margin-left: 20px;
}

#loginInfo {
	font-family: "Comic Sans MS";
	color: #416678;
}

#logoutButton {
	margin-left: 85px;
	/*margin-top: 10px;*/
	font-family: "Comic Sans MS";
	font-size: 20px;
	font-weight: bold;
	width: 100px;
	height: 35px;
	border-radius: 10px;
	border-width: 0px;
	outline: none;
	background-color: #436677;
	color: #D89B41;
	cursor: pointer;
}

#logoutButton:hover {
	background-color: #D89B41;
	color: #436677;
}

#loginHello {
	color: #416678;
	font-family: "Comic Sans MS";
	margin-left: 50px;
}

.mainMenu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;

}

#mainMenuList {
	display: flex;
	/*flex-direction: center;*/
	justify-content: center;
	list-style: none;
	/*margin: 0;
    padding: 0;*/
	white-space: nowrap;



}

#mainMenuList li {

	display : flex;
	justify-content: center;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	padding: 5px;
	font-family: WoW2;
	font-size: 30px;
	color: #416678;
	border-radius: 5px;


}

#myCollection {

	vertical-align: center;
}

#mainMenuList li a:visited {
	color: #416678;
}

#mainMenuList li:hover {
	background-color: #416678;
}

#mainMenuList li:hover a{
	color: #D89B41;
}

.mainMenuParagraph {
	margin-bottom: 1px;
}

#later {
	font-family: "Comic Sans MS";
}

#myCollectionReference {
	/*padding-top: 35px;*/
}


#containerDatabase {
	display: flex;

	justify-content: center;
	width: 1400px;
	margin-left: 20px;

;

	/*margin: 0 auto;*/
}

#leftMenuDatabase {
	display: flex;
	flex-direction: column;
	width: 200px;

}

#leftMenuTitleDatabase {
	/*margin-left: 5px;*/
	color: #416678;
	font-family: WoW2;
}

.selectFilter {
	display: flex;
	width: 150px;
	/*background-image: url("background.gif");*/
	font-family: "Comic Sans MS";
	background-color: #436677;
	color: #D89B41;
	border-radius: 5px;
	outline: none;

}

.optionFilter {
	border-radius: 5px;
}

#Druid {
	color: #ff7c0a;
}

#Hunter {
	color: #aad372;
}

#Mage {
	color: 	#68ccef;
}

#Paladin {
	color: #f48cba;
}

#Priest {
	color: #f0ebe0;
}

#Rogue {
	color: #fff468;
}

#Shaman {
	color: #2993FB;
}

#Warlock {
	color: #9382c9;
}

#Warrior {
	color: #c69b6d;
}

#Common {
	color: #DBD3D3;
}

#Uncommon {
	color: #55AA65;
}

#Rare {
	color: #2993FB;
}

#Epic {
	color: #B263B0;
}

#Horde {
	color: #FD1A0C;
}

#Alliance {
	color: #2993FB;
}

#filterButton {
	margin-left: 100px;
	font-family: "Comic Sans MS";
	width: 50px;
	height: 25px;
	border-radius: 10px;
	border-width: 0px;
	outline: none;
	background-color: #436677;
	color: #D89B41;
	cursor: pointer;
}

#filterButton:hover {
	background-color: #D89B41;
	color: #436677;
}

#resultTable {
	width: 1150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;


	border: solid #416678;
	/*background-color: #416678;*/
	background-image: url("background2.png");

}

#startText1 {
	font-family: WoW2;
	color: #416678;
	margin-left: 180px;
	margin-top: 60px;
}

#startText2 {
	font-family: WoW2;
	color: #416678;
	margin-left: 310px;
}

#notFoundText {
	font-family: "Comic Sans MS";
	text-align: center;
	margin-left: 260px;
	margin-top: 50px;
	font-size: 30px;
	line-height: 75px;
	color: #416678;
}

#notFoundTextCollection {
	font-family: "Comic Sans MS";
	text-align: center;
	margin-left: 165px;
	margin-top: 50px;
	font-size: 30px;
	line-height: 75px;
	color: #416678;
}

.createdOverallDiv {
	display: flex;
	margin: 10px;
	display: flex;
	width: 550px;
	height: 350px;
}

.createdParameters {
	font-size: 17px;
	margin-left: 10px;
	color: #416678;

}

.parametersName {
	font-weight: bold;
	color: #6E4277;
	font-family: "Comic Sans MS";
}

.parametersValue {
	font-weight: bold;
	color: #416678;
	font-family: "Comic Sans MS"
}

.back_to_top {
	position: fixed;
	bottom: 80px;
	right: 40px;
	z-index: 9999;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 30px;
	line-height: 45px;
	background-image: url("background2.png");
	/*background: #416678;*/
	color: #416678;
	cursor: pointer;
	border-radius: 15px;
	display: none;
}

.back_to_top:hover {
	/*background: #D89B41;*/
	color: #D89B41;
}

.back_to_top-show {
	display: block;
}

footer {
	/*display: flex;*/
	/*justify-content: right;*/
	font-family: "Comic Sans MS";
	color: #416678;
	height: 50px;
	text-align: right;
	background-image: url("background2.png");
	/*filter: brightness(75%);*/
	padding-right: 20px;
	margin-top: 85px;
}









